<header class="headerMenu masthead text-center text-white" style="padding: 1rem; position:fixed; left: 0px; top:4rem; width: 100%">
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>

  <h2>Ongi etorri, <%= session[:user_id] %></h2>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container" >
      <ul class="navbar-nav ml-auto" style="width: 100%; text-align: center;">
        <li>
          <%= link_to "Kontuaren infromazioa", "kontua", :method => :post, :class=>"nav-link" %>
        </li>
        <li>
          <%= link_to "Transakzioen historia", "kontua", :method => :post, :class=>"nav-link" %>
        </li>
        <li>
          <label id="tBerria_l" class="nav-link bold" style="cursor: pointer;">
            Transakzio berria
          </label>
        </li>
      </ul>
    </div>
  </nav>

</header>

<section class="col-sm-12" style="margin-top: 13rem; padding: 2.5rem;">
	<h1>Transakzio berria</h1>
	<p>Egin transakzio berri bat:</p>
	<%= form_for( :transaction,
                :method => "post",
                :url => {:controller => 'transactions', :action => 'create'}
                ) do |f| %>

      <%= f.select 'bidaltzaile_kontua', options_from_collection_for_select(@kontuak, 'kontu_zenbakia', 'kontu_zenbakia'), :required => true%>

  		<%= f.label :hartzaile_kontuaL,'Hartzailearen kontua: ', :class=>"sr-only" %>
    	<%= f.text_field :hartzaile_kontua, :class=>"form-control", placeholder: "Hartzailearen kontu zenbakia", style:"width:250px;", :required => true%>

  		<%= f.label :azalpenaL,'Transazioaren azalpena: ', :class=>"sr-only" %>
    	<%= f.text_field :azalpena, :class=>"form-control", placeholder: "Azalpena", style:"width:250px;"%>

  		<%= f.label :kopuruaL,'Diru kopurua: ', :class=>"sr-only" %>
    	<%= f.text_field :kopurua, :class=>"form-control", placeholder: "Kopurua (€)", style:"width:150px;", :required => true%>

  	<div class="actions" style="margin-top: 2rem">
        <%= f.submit :"Bidali", :class=>"btn btn-lg btn-primary bold btn-block submitButton", style:"width:100px; color: black"%>
    </div>
    <center>
      <label class="notice"><%= notice %></label>
      <label class="alert" style="color: red"><%= alert %></label>
    </center>

  	<% @transaction.errors.full_messages.each do |message| %>
      <div style="color: red;">
      	* <%= message %>
      </div>
    <%end%>
<% end %> 
</section>

